$primary: "";
$secondary: "";
$tertiary: "";
$quartenary: "";

$background-red: #882222;
$background-purple: #4e4393;
$background-pink: #8a2b45;

$card-red: #A8404E;
$card-purple: #7869AA;
$card-pink: #8a2b45;

$confirmation-button: #2D7A0E;

$cadastrar-button: #48ad1d;
;

$shadow: #6F1B1D;
$shadow-titulo: rgb(71, 63, 63);